<header class="header">
    <div class="nav-container">
        <div class="logo">
            <i class="icon-cyber">⚡</i> CYBER SEO
        </div>
        <nav>
            <ul class="nav-menu">
                <li><a href="index.html" class="nav-link">Главная</a></li>
                <li><a href="pages/phrase-combiner.html" class="nav-link">Комбинатор фраз</a></li>
                <li><a href="pages/text-analyzer.html" class="nav-link">Анализ текста</a></li>
                <li><a href="pages/link-analyzer.html" class="nav-link">Анализ ссылок</a></li>
                <li><a href="pages/domain-extractor.html" class="nav-link">Извлечение доменов</a></li>
                <li><a href="pages/bookmarklets.html" class="nav-link">Букмарклеты</a></li>
                <li><a href="pages/top-analyzer.html" class="nav-link">Анализ ТОП-10</a></li>
                <li><a href="pages/query-clustering.html" class="nav-link">Кластеризация</a></li>
            </ul>
        </nav>
    </div>
</header>